

<div class="container row mt-1  justify-content-center">
    <div class="col-md-3 col-9">
            <figure class="row justify-content-center">
                    <img class="my-profile-photo img-fluid"  src="../../../assets/images/profile.jpg" 
                    alt="liron's photo" width="250px" height="250px">
            </figure>
        <hr>
    
        <h5>Links</h5>
        <div class="row justify-content-center icons">
            <figure class="col-4 ">
                <a href="https://github.com/Liron-Almog"><img class="img-fluid" width="45px" height="45px"
            src="../../../assets/icons/github.png" alt="github-icon" ></a>
            <figcaption >Github</figcaption>
            </figure>
        
            <figure class="col-4" >
                <a href="https://www.linkedin.com/in/lironalmog/"> <img class="img-fluid " width="45px" height="45px" 
                src="../../../assets/icons/linkedin.png" alt="Linkedin-icon" ></a>
                <figcaption >Linkdin</figcaption>
            </figure>

            <figure class="col-4" >
                <a href="../../../assets/documents/LironAlmog_cv.pdf" download> <img class="img-fluid " width="45px" height="45px" 
                src="../../../assets/icons/CV.png" alt="cv-icon" ></a>
                <figcaption>&nbsp;&nbsp;&nbsp;CV</figcaption>
            </figure>
        </div>    
        <hr class="icons-bottom-hr">
    </div>

    <div class="col-md-9 col-12">
        <h1 >Hey! I Am <span class="h1-span">Liron Almog</span></h1>
        <app-cv-content></app-cv-content>
    </div>

  
    
</div>