<div class="container mt-2">
        <header>
            <app-nav-bar></app-nav-bar>
        </header>
        <main>
            <app-projects-list></app-projects-list>

            <section id="Memory Game">
                <h2>Memory Game</h2>
                <p>aaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaa><br>
                    aaaaaaaaaaaaaaaaaaaaa<br>
                    aaaaaaaaaaaaaaaaaaaaa

                </p>
            </section>
        </main>
        
        <footer>
     
        </footer>
</div>
