
<div class="row mt-5">
    <address class="col-6 mt-5 ">
        <ul >
            <li>
                <a href="tel:+972505880688">
                <img class="img-fluid icon" width="25px" height="25px" src="/assets/icons/telephone.png" alt="Telephone Icon"/>
                Call 0505880688
                </a>
            </li>
        <li>
            <a href="mailto:LironAlmog@gmail.com">
                <img class="img-fluid icon" width="25px" height="25px" src="/assets/icons/mail.png" alt="Mail Icon"/>
                LironAlmog@gmail.com
            </a>
        </li>
        <li>
            <a href="https://wa.me/10505880688">
                <img class="img-fluid icon" width="25px" height="25px" src="/assets/icons/whatsapp.png" alt="Whatsapp Icon"/>
                Chat On Whatsapp
            </a>
        </li>
        </ul>
    </address>
</div>