.my-container {
   display: flex;
   justify-content: center;
}



address{
    background-color: #27374e;
    margin: 0px;
    width: 294px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: 5px 5px 5px #000000d9;
}

ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    color: var(--CARDBUTTONCOLOR);
    color: var(--CARDTEXTCOLOR);
}
ul{

    list-style: none;
    width: 90%;
}


.first-word-in-link{
    color: var(--CARDBUTTONCOLOR);
  
    font-weight: bolder;
    margin-left: 10px;
}
ul li:nth-child(2), ul li:nth-child(3){
    width: 80%;
    border-top:solid #EADBC8 1px;
}

a{
    text-decoration: none;
}
p {
    color: var(--CARDBUTTONCOLOR);
    font-weight: bold;
}
h2{
    color: var(--CARDTEXTCOLOR);
    text-shadow: 2px 2px 5px #000000d9;
    margin-top: 10px;
}
