<article class="mt-3">
  <h5>About myself</h5>
  <p>
    I am a self-motivated, detail-oriented developer with a passion for
    technology and innovation.<br />
    A fast-learner and autodidact, I enjoy tackling challenges and finding
    creative solutions.<br />
    A confident team player with strong communication and leadership skills, I
    thrive in collaborative environments.<br />
    I am goal-oriented and always focused on delivering high-quality results.
  </p>
</article>
<hr />
<article>
  <h5>Work Experience</h5>
  <p>
    Full Stack Developer, Bizibox Company 2023-present.<br />
    Private Tutor since 2022, I teach "Introduction to Computer Science",
    "Object-Oriented Programming", <br />
    and "Modular Programming" with a strong focus on data structures.<br />
    I foster a positive learning environment, promoting students' confidence and
    problem-solving skills.<br />
  </p>
</article>
<hr />
<article>
  <h5>My Skills</h5>
  <p style="padding: 0px">
    JavaScript | C/C++ | Java | Spring Boot | OOP & SOLID principles | Angular17 | TypeScript 
    NodeJS | | HTML | CSS | SCSS | Git | Bitbucket | GitHub | Microservices |
    REST API | MySQL | DBeaver | Jira | Confluence
  </p>
</article>
