<article class="mt-3">
    <h5>About myself</h5>
    <p>
        I am a self-motivated, detail-oriented developer with a passion for technology and innovation.<br>
         A fast-learner and autodidact, I enjoy tackling challenges and finding creative solutions.<br>
          A confident team player with strong communication and leadership skills, I thrive in   collaborative environments.<br>
          I am goal-oriented and always focused on delivering high-quality results.
    </p>
</article>
<hr>
<article>
    <h5>Work Experience</h5>
    <p>
        Private Tutor since 2022, I teach "Introduction to Computer Science", "Object-Oriented Programming", <br>
        and "Modular Programming" with a strong focus on data structures.<br>
         I foster a positive learning environment, promoting students' confidence and problem-solving skills.<br>
    </p>
</article>
<hr>
<article>
    <h5>My Skills</h5>
    <p style="padding: 0px;">
        C++ | Angular | Java | JavaScript | NodeJS |
        CSS | HTML | MySQL | React | OS |
        OOP & SOLID | GitHub |
        REST API 
    </p>
</article>