/* You can add global styles to this file, and also import other style files */


:root{

    /*COLOR*/
    --BGCOLOR:#F8F9FA;
    --BOLDCOLOR:#FCA71F;
    
        /*CARD*/
        --CARDBGCOLOR:#27374e;
        --CARDTEXTCOLOR:#DDE6ED;
        --CARDBUTTONCOLOR:#EADBC8;
 
}
body{
    background-color: var(--BGCOLOR);
}

html{
    scroll-behavior: smooth;
}